/* Home General */
.label-movie {
  @apply border-2 max-w-fit h-fit text-[0.6rem] leading-3 font-medium py-[0.2rem] px-[0.6rem] rounded-lg select-none;
}

.label-tv {
  @apply border-2 max-w-fit h-fit bg-white text-background-dark-blue text-[0.6rem] leading-3 font-semibold py-[0.2rem] px-[0.6rem] rounded-lg select-none;
}

.grid-popular {
  @apply mt-5 grid grid-cols-4 grid-rows-[repeat(2,14rem)];
  gap: 1rem;
  grid-template-areas:
    "tile1 tile2 tile3 tile3"
    "tile4 tile4 tile5 tile6";
}

@media (max-width: 899px) {
  .grid-popular {
    @apply grid-cols-2 grid-rows-[repeat(3,14.5rem)];
    grid-template-areas:
      "tile1 tile2"
      "tile3 tile4"
      "tile5 tile6";
  }
}

.tile1 {
  grid-area: tile1;
}
.tile2 {
  grid-area: tile2;
}
.tile3 {
  grid-area: tile3;
}
.tile4 {
  grid-area: tile4;
}
.tile5 {
  grid-area: tile5;
}
.tile6 {
  grid-area: tile6;
}

.rated-container {
  @apply mt-5 w-full flex flex-row gap-x-4 tablet:flex-col tablet:gap-y-4 mobile:flex-col mobile:gap-y-4;
}