/* Home General */
.label-movie {
  @apply border-2 max-w-fit h-fit text-[0.6rem] leading-3 font-medium py-[0.2rem] px-[0.6rem] rounded-lg select-none;
}

.label-tv {
  @apply border-2 max-w-fit h-fit bg-white text-background-dark-blue text-[0.6rem] leading-3 font-semibold py-[0.2rem] px-[0.6rem] rounded-lg select-none;
}

/* Movies */
.slide-trending {
  @apply h-full w-[27rem] mobile:w-[20rem] rounded-lg ml-10 flex flex-col justify-end p-4 relative overflow-hidden select-none;
}


.grid-popular {
  @apply mt-5 grid-cols-4 grid-rows-[repeat(2,14rem)];
  display: grid;
  gap: 1rem;
  grid-template-areas: 
  "tile1 tile2 tile3 tile3"
  "tile4 tile4 tile5 tile6";
}

@media (max-width: 899px) {
  .grid-popular {
    @apply grid-cols-2 grid-rows-[repeat(3,14.5rem)];
    grid-template-areas:
      "tile1 tile2"
      "tile3 tile4"
      "tile5 tile6";
  }
}

.tile-popular {
  @apply rounded-lg flex flex-col justify-end p-4 relative select-none overflow-hidden;
}


.tile1 {
  grid-area: tile1;
}
.tile2 {
  grid-area: tile2;
}
.tile3 {
  grid-area: tile3;
}
.tile4 {
  grid-area: tile4;
}
.tile5 {
  grid-area: tile5;
}
.tile6 {
  grid-area: tile6;
}


.tile-rated{
  @apply w-full h-[14rem] rounded-lg flex flex-col justify-end p-4 relative select-none overflow-hidden;
}